framework:
    messenger:
        default_bus: messenger.bus.default
        
        buses:
            messenger.bus.default:
                middleware:
                    - validation
        
        transports:
            sync: 'sync://'

        routing:
