version: '3.7'

services:
  ebs:
    build:
      target: dev
      context: .
      dockerfile: Dockerfile
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - ./docker/php/ext-xdebug.ini:/etc/php84/conf.d/50_xdebug.ini
      - ./:/app:rw
    environment:
      PHP_IDE_CONFIG: serverName=ebs

  nginx:
    ports:
      - "8080:80"
    volumes:
      - ./:/app:rw

  postgres:
    ports:
      - "54322:5432"
