imports:
    - { resource: 'services_test.yaml', ignore_errors: true }

parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../src/*/Domain/Entity/'
            - '../src/*/Domain/ValueObject/'
            - '../src/*/Domain/Event/'
            - '../src/*/Domain/Exception/'

    # Event Bus
    App\Shared\Domain\Event\EventBus: '@App\Shared\Infrastructure\Event\SymfonyMessengerEventBus'

    App\Shared\Infrastructure\Event\SymfonyMessengerEventBus:
        arguments:
            $eventBus: '@event.bus'

    # Repository interfaces
    App\UserManagement\Domain\Persistence\Repository\UserRepositoryInterface:
        alias: App\UserManagement\Infrastructure\Persistence\Repository\DbalUserRepository

    App\BankAccount\Domain\Persistence\Repository\BankAccountRepositoryInterface:
        alias: App\BankAccount\Infrastructure\Persistence\Repository\DbalBankAccountRepository

    App\Transaction\Domain\Persistence\Repository\TransactionRepositoryInterface:
        alias: App\Transaction\Infrastructure\Persistence\Repository\DbalTransactionRepository

    # Providers
    App\Transaction\Domain\Provider\ExchangeRateProviderInterface:
        alias: App\Transaction\Infrastructure\Provider\StaticExchangeRateProvider
